.section{
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	background-size: cover;	
}
.section1{
	background-image: url(../img/1.jpg);
}
.section2{
	background-image: url(../img/2.jpg);
}
.section3{
	background-image: url(../img/3.jpg);
}
.section4{
	background-image: url(../img/4.jpg);
}
.section5{
	background-image: url(../img/5.jpg);
}
.section6{
	background-image: url(../img/6.jpg);
}
img{
	position: absolute;
}
.section1-superman{
	width: 52.81%;
	top: 100%;
	left: 25.78%;
}
.active .section1-superman{
	-webkit-animation: section1-superman 0.5s forwards;
}
@-webkit-keyframes section1-superman{
	100%{
		top: 36.11%;
	}
}
.section1-line{
	top: 40.37%;
	left: 50%;
	-webkit-transform:translateX(-50%);
	width: 0%;
	
}
.active .section1-line{
	-webkit-animation: section1-line 0.25s 0.5s forwards;
}
@-webkit-keyframes section1-line{
	100%{
		width:100%;
	}
}

.section1-smoke{
	width: 100%;
	top: 57px;
	opacity: 0;
}
.active .section1-smoke{
	-webkit-animation: section1-smoke 0.5s 1.25s forwards;
}
@-webkit-keyframes section1-smoke{
	100%{
		opacity:1;
	}
}

.section1-baby{
	width:59.84%;
	right: 0;
	bottom:-300px;
}
.active .section1-baby{
	-webkit-animation: section1-baby 0.5s 1.75s forwards;
}
@-webkit-keyframes section1-baby{
	100%{
		bottom:0;
	}
}