.section{
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	background-size: 100%;	
	overflow: hidden;
}
.section1{
	background-image: url(../img/section1.jpg);
}
.section2{
	background-image: url(../img/section2.jpg);
}
.section3{
	background-image: url(../img/section3.jpg);
}
.section4{
	background-image: url(../img/section4.jpg);
}
.section5{
	background-image: url(../img/section5.jpg);
}
.section6{
	background-image: url(../img/section6.jpg);
}
img{
	position: absolute;
}
.section1-superman{
	width: 52.81%;
	top: 100%;
	left: 25.78%;
}
.active .section1-superman{
	-webkit-animation: section1-superman 0.5s linear 0.5s forwards;
}
@-webkit-keyframes section1-superman{
	80%{
		top: 37.11%;
	}
	85%{
		top: 35.11%;
	}
	90%{
		top: 36.61%;
	}
	95%{
		top: 35.61%;
	}
	100%{
		top: 36.11%;
	}
}
.section1-line{
	top: 40.37%;
	left: 50%;
	-webkit-transform:translateX(-50%);
	width: 0%;
	
}
.active .section1-line{
	-webkit-animation: section1-line 0.25s linear 1s forwards;
}
@-webkit-keyframes section1-line{
	100%{
		width:100%;
	}
}

.section1-smoke{
	width: 100%;
	top: 57px;
	opacity: 0;
}
.active .section1-smoke{
	-webkit-animation: section1-smoke 1.5s linear 2.5s forwards;
}
@-webkit-keyframes section1-smoke{
	100%{
		opacity:1;
	}
}
.section1-smoke2{
	width: 75.31%;
	top: 120px;
	left:19.22%;
	opacity: 0;
}
.active .section1-smoke2{
	-webkit-animation: section1-smoke2 1.5s linear 2.5s forwards;
}
@-webkit-keyframes section1-smoke2{
	100%{
		opacity:1;
	}
}

.section1-baby{
	width:59.84%;
	right: 0;
	bottom:0;
	-webkit-transform:translate3d(0,300px,0);
}
.active .section1-baby{
	-webkit-animation: section1-baby 1s 1.5s forwards;
}
@-webkit-keyframes section1-baby{
	100%{
		-webkit-transform:translate3d(0,0,0);
	}
}

.section2-text{
	width:57.19%;
	left: 39.46%;
	top: 0;
	-webkit-transform:translate3d(0,-100%,0);
}
.active .section2-text{
	-webkit-animation:section2-text 0.5s linear 2.5s forwards;
}
@-webkit-keyframes section2-text{
	100%{
		-webkit-transform:translate3d(0,77px,0);
	}
}
.section2-focus{
	width:34.22%;
	left: 55.93%;
	top: 53.57%;
	opacity:0;
}
.active .section2-focus{
	-webkit-animation:section2-focus 0.5s linear 3s forwards;
}
@-webkit-keyframes section2-focus{
	70%,90%{
		opacity:0.5;
	}
	60%,80%,100%{
		opacity:1;
	}
}
.section2-superman{
	width: 100%;
	left: 0;
	top: 84px;
	opacity: 0;
	-webkit-transform:translate3d(50%,0,0);
}
.active .section2-superman{
	-webkit-animation:section2-superman 0.5s linear 2s forwards;
}
@-webkit-keyframes section2-superman{
	100%{
		opacity: 1;
		-webkit-transform:translate3d(0,0,0);
	}
}
.section2-smoke{
	width: 100%;
	left:0;
	top: 0;
	opacity: 0;
}

.section2-smoke2{
	width: 65%;
	left:27.97%;
	top: 172px;
	opacity: 0;
}
.active .section2-smoke,
.active .section2-smoke2{
	-webkit-animation:section2-smoke 1s linear 1s forwards;
}
@-webkit-keyframes section2-smoke{
	100%{
		opacity: 1;
	}
}
.section2-baby{
	width: 100%;
	left:0;
	bottom:0;
}


.section3-text{
	width:63.12%;
	left: 5.93%;
	top: 0;
	-webkit-transform:translate3d(0,-100%,0);
}
.active .section3-text{
	-webkit-animation:section3-text 0.5s linear 1.5s forwards;
}
@-webkit-keyframes section3-text{
	100%{
		-webkit-transform:translate3d(0,82px,0);
	}
}

.section3-superman{
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}
.active .section3-superman{
	-webkit-animation:section3-superman 0.5s linear 1s forwards;
}
@-webkit-keyframes section3-superman{
	70%,90%{
		opacity:0.5;
	}
	60%,80%,100%{
		opacity:1;
	}
}
.section3-baby{
	width: 100%;
	left:0;
	bottom:0;
}
.section4-superman{
	width: 100%;
	left:0;
	bottom:0;
}
.section4-text{
	width:58.28%;
	left: 38.12%;
	top: 17.75%;
}
.section4-smoke{
	width: 100%;
	left:0;
	top:0;
	opacity: 0;
}
.section4-smoke2{
	width: 24.68%;
	left: 38.12%;
	top: 17.75%;
	opacity: 0;
}
.active .section4-smoke,
.active .section4-smoke2{
	-webkit-animation:section4-smoke 1s linear 1s forwards;
}
@-webkit-keyframes section4-smoke{
	100%{
		opacity: 1;
	}
}
.section4-toy{
	width: 55%;
	right: 0;
	top: 0;
	-webkit-transform:translate3d(0,-100%,0);
}
.active .section4-toy{
	-webkit-animation:section4-toy 0.5s linear 2s forwards;
}
@-webkit-keyframes section4-toy{
	60%{
		-webkit-transform:translate3d(0,10%,0);
	}
	70%{
		-webkit-transform:translate3d(0,-10%,0);
	}
	80%{
		-webkit-transform:translate3d(0,5%,0);
	}
	90%{
		-webkit-transform:translate3d(0,-5%,0);
	}
	100%{
		-webkit-transform:translate3d(0,0,0);
	}
}

.section5-light{
	width:100%;
	left: 0;
	top:0;
	opacity: 0;
}
.active .section5-light{
	-webkit-animation:section5-light 0.5s linear 1.5s forwards;
}
@-webkit-keyframes section5-light{
	100%{
		opacity: 1;
	}
}
.section5-text{
	width:70.94%;
	left: 14.53%;
	bottom:0;
	-webkit-transform:translate3d(0,100%,0);
}
.active .section5-text{
	-webkit-animation:section5-text 0.5s linear 2s forwards;
}
@-webkit-keyframes section5-text{
	100%{
		-webkit-transform:translate3d(0,-42px,0);
	}
}
.section5-eye{
	width:5.47%;
	left: 58.59%;
	top:12.5%;
	opacity: 0;
}
.active .section5-eye{
	-webkit-animation:section5-eye 0.5s linear 1s forwards;
}
@-webkit-keyframes section5-eye{
	100%{
		opacity: 1;
	}
}